.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}
  
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
  
.input-group {
    margin-bottom: 15px;
}
  
.input-group label {
    display: block;
    margin-bottom: 5px;
}
  
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}

.body_login{
    display: flex;
    min-height: 100vh;
}


.content_page{
    display: flex;
}
.sidebar{
    width: 300px;
    background-color: #eeeeee;
    height: 100vh;
    padding: 10px;
}
.right_page{
    padding: 20px;
}

.sidebar ul{
    display: flex;
    flex-wrap: wrap;
}
.sidebar ul li{
    width: 100%;
    display: flex;
}
.sidebar ul li a{
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
}